@use 'colors' as *;

html {
	font-size: 10px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-family: 'Outfit', sans-serif;
	background-color: $bgc-color;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
}
article {
	width: 34rem;
	border-radius: 2.5rem;
	background-color: $white-color;
	overflow: hidden;
	.card-img-top {
		margin: 2rem;
		height: 30rem;
		border-radius: 1.5rem;
	}
	.card-title {
		margin: 0 2.5rem;
		text-align: center;
		color: $title-color;
	}
	.card-text {
		margin: 2rem 4.5rem;
		text-align: center;
		color: $gray-color;
	}
}

.attribution {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
}
